<div class="fullscreen-image">
  <div class="overlay"></div>
  <h1 class="home-button" (click)="homeButton()">{{ title }}</h1>
  <div class="subtext-container">
    <h2 class="subtext">Welcome to adoore, your solution for <i>cross-country city comparison</i> (CCCC)!</h2>
  </div>
  <div class="content">
    <ng-container *ngIf="getTopbar()">
      <app-topbar></app-topbar>
    </ng-container>

    <ng-container *ngIf="!getTopbar()">
      <app-city-search-results></app-city-search-results>
    </ng-container>
  </div>
</div>


