.city-list-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}

.list-item img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.compare-button {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  background-color: #28a745;
}

.compare-button:hover {
  background-color: #218838;
}
